@charset "UTF-8";
*{
	text-decoration: none;
	list-style-type: none;
	margin:0;
	padding:0;
}

header nav {
	position: relative;
	height: 50px;
	background-color: #1abc9c;
}

header nav ul {
	display: flex;
}

header nav ul li {
	margin-left: 20px;
}
section { padding-left: 40px; padding-right: 40px; }

.colorRed {color : red; }

.displayNone { display: none !important; }