	*{
		text-decoration: none;
		list-style-type: none;
	}

	body{
		background-image: url('../../images/sea.jpg');
	}

	#wrap{
	background:linear-gradient(to bottom, #4b79a1, #283e51);
	position: absolute;
	left: 40%;
	box-sizing: border-box;
	}
	
	#main_logo {
		margin-top: 60px;
		margin-left: 100px;
	}

	input {
	width: 460px;
	height : 48px;
	margin: 10px;
	}
	
	input:hover{
	 cursor: pointer;
	}

	#btn1, #btn2 {
	background-color:#006FB2;
	margin: 15px;
	width:460px;
	height:56px;
	border: 1px solid skyblue;
	color: skyblue;
	padding:10px;
	border-radius: 6px;
	cursor: pointer;
	}
	
	#btn1:hover{
	background-color:skyblue;
	color:white;
	}
	
	#btn1:active , #btn2:active{
	background-color: #82b5f0 ;
	}
	
	.errMsg {
		color:white;
		font-size: 16px;
		text-align: center;
		padding:20px;
	}
	
	.line_left{
	display:inline-block;
	background-color: gray;
	width: 200px;
	height: 1px;
	margin-left: 15px;
	margin-right: 7px;
	}
	
	.line_right{
	display:inline-block;
	background-color: gray;
	width: 200px;
	height: 1px;
	margin-right: 15px;
	margin-left: 7px;
	}
	
	.line_text{
		text-align: center;
		color: gray;
	}
	
	#leng_logo{
		display:inline-block;
		margin-left: 55px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.leng_logo_1 , .leng_logo_2 , .leng_logo_3{
		margin-left: 50px;
		margin-right: 50px;
	}
	
	#text_id:visited{
		color: #00AEFF;
	}
	
	#text_id{
		text-align: center;
		color: #00AEFF;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#text_id:last-child {
		margin-bottom:80px;
	}

	

